<?xml version="1.0"?>
<launch>

	<arg name="plugin" default='rosneuro::decoder::Gaussian'/>
	<arg name="cfg_name" default='GaussianCfg'/>
	
    <rosparam command="load" file="$(find rosneuro_decoder_gaussian)/test/gaussianCfg.yaml"/>
	<node name="decoder" pkg="rosneuro_decoder" type="decoder" output="screen" >
		<param name="plugin" 	  value="$(arg plugin)"/>
        <param name="cfg_name" 	  value="$(arg cfg_name)"/>
        
	</node>
		
</launch>
